li{
    list-style: none;
    border: 2px solid black;
    text-align: center;
    border-radius: 20px;
    width: 20%;
    margin: 20px;

}
ul{
    display: flex
}
h4{
    font-family: Verdana,Verdana,Geneva,sans-serif;
    text-align: center;

}
h2{
    text-align: center;
    color: red;
}
.color{
    color: red;
}
h3{
    color: #16cc19;
}