img{
    vertocal align: middle;
    width: 50px;
}

.nav {
    width: 70px;
    height: 100%;
    position: fixed;
    background: gray;
    left: 0px;
    top: 0px;
    padding: 10px;
    -webkit-transition:  width 1s;
    transition:  width 1s;
}
nav:hover{
    width: 270px;
    top: 0;
}
nav:hover ul{
    display: block;
}
ul{
    list-style: none;
    display: none;
}
li{
    color: white;
    padding: 15px;
}
.li{
    display: flex;
}

.nav > ul {
    display: block;
    padding: 0;
    list-style: none;
}
li:hover{
    background: DimGrey;
    width: 92%
}
h1{
    padding: 5px;
}
.box{
    padding: 175px;
}
